



.top_bar{
    
    
    background:orange;
    padding:5px 0;
}
.social_icons{
    margin-right: 5px;
    
    
}
body {
    background: url("s1.jpg") center no-repeat;
    background-size:cover;
} 

.left_column
{
    color:white;
    font-size: 16px;
    
}
.logo{
 padding:5px 0;   
}
.my_menu{
   margin-top: 27px; 
    
    
}
.my_menu .navbar-default{background:none;
                            border:none;

}
.my_menu .navbar-nav .active a, .my_menu .navbar-nav .active a:hover{
    background:orange;
    color: white;
}
.my_menu .navbar-nav li a:hover{
    background:orange;
    color: white;
}
@media (max-width:1200px)
{
    .my_menu .pull-right{float:none !important;}
}
.lang{
    margin-top: 25p
}